<div class="container">
    <h2>Add products</h2>
    <form action="/create" method="POST">

        <div class="mb-3">
            <label for="name" class="form-label">Product name</label>
            <input type="text" class="form-control" id="name" name="product-name" placeholder="Product name" required>
        </div>
        <div class="mb-3">
            <label for="detail" class="form-label">Product detail</label>
            <textarea class="form-control" id="detail" name="product-detail" placeholder="Product detail" rows="5"
                      required></textarea>
        </div>
        <div class="mb-3">
            <label for="type" class="form-label">Choose type</label>
            <select class="form-select" name="product-type" id="type" required>
                <option>Smartphone</option>
                <option>Laptop</option>
                <option>True Wireless</option>
                <option>Other</option>
                <!--                <option value="audi">Audi</option>-->
            </select>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Product price</label>
            <input type="number" class="form-control" id="price" name="product-price" placeholder="Product price"
                   required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>