<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Customers</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active">Customers</li>
        </ol>
        <h2>Update customers</h2>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                DataTable Customers
            </div>
            <div class="card-header">
                <form action="/customers/update?index={customer-index}&id={customer-id}" method="POST">
                    <div class="mb-3">
                        <label for="name" class="form-label">Customer name</label>
                        <input type="text" class="form-control" id="name" name="customer-name" placeholder="Customer name"
                               value="{customer-name}" required>
                    </div>

                    <div class="mb-3">
                        <label for="age" class="form-label">Customer age</label>
                        <input type="number" class="form-control" id="age" name="customer-age"
                               placeholder="Customer age"
                               value="{customer-age}" required>
                    </div>
                    <a href="/customers">
                        <button type="button" class="btn btn-success">Back To Home</button>
                    </a>

                    <a href="/customers/delete?index={customer-index}&id={customer-id}">
                        <button type="button" class="btn btn-danger">Delete</button>
                    </a>
                    <button type="submit" class="btn btn-primary">Update</button>

                </form>

            </div>
        </div>
    </div>
</main>